h2 {
	font-size: 26pt;
	font-weight: 300;
	margin: 0;
	padding-bottom: 4pt;
}
#main-form {
	text-align: center;
}
textarea {
	width: 400px;
	height: 200px;
	margin-bottom: 20px;
}
#slider-container {
	text-align: center;
}
button {
	margin-bottom: 20px;
}
#tesseract-progress {
	display: none;
	text-align: center;
	margin-bottom: 20px;
}
.center-pad {
	text-align: center;
	margin-bottom: 20px;
}