{% extends "layout.html" %} {% block content %}
<!--ナビゲーションバー-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<button
		class="navbar-toggler navbar-toggler-right"
		type="button"
		data-toggle="collapse"
		data-target="#navbarTogglerDemo02"
		aria-controls="navbarTogglerDemo02"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="">Flash Reading</a>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-md-0">
			<li class="nav-item active">
				<a class="nav-link" href="{{url_for('home')}}">説明 </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('read')}}">動かす</a>
			</li>
		</ul>
	</div>
</nav>
<div class="container" style="letter-spacing: 0.08em" 　>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<div style="margin: 80px"></div>
			<h4 style="line-height: 1.4em">
				速読君は、語句を連続でフラッシュ表示する「高速逐次視覚提示」を用いてテキストを高速に読むことを可能にしたアプリです。
			</h4>
			<div style="margin: 40px"></div>
			<h4 style="line-height: 1.4em">
				PDFや写真をテキストエリアにドラッグ&ドロップすると文字を読み取ることができます。
			</h4>
			<div style="margin: 40px"></div>
		</div>
		<div class="col-2"></div>
	</div>
	<div style="text-align: center">
		<a href="{{url_for('read')}}" class="btn btn-dark text-center">
			使ってみる！
		</a>
	</div>
</div>
{% endblock %}
