{% extends "layout.html" %} {% block content %}

<!--ナビゲーションバー-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<button
		class="navbar-toggler navbar-toggler-right"
		type="button"
		data-toggle="collapse"
		data-target="#navbarTogglerDemo02"
		aria-controls="navbarTogglerDemo02"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="">Flash Reading</a>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-md-0">
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('home')}}">説明 </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{url_for('read')}}">Try！</a>
			</li>
		</ul>
	</div>
</nav>

<div id="drop-container">
	<div id="container" style="width: 100%; height: 200px">
		<canvas id="canvas"></canvas>
	</div>

	<div id="tesseract-progress">画像を読み込み中です・・・</div>

	<div id="main-form">
		読み上げる文章 :
		<div style="margin: 10px"></div>
		<textarea id="main-text"></textarea><br />
		<button onclick="onSubmit()" class="btn btn-outline-dark btn-col">
			読み上げ開始
		</button>
		<button onclick="onParse()" class="btn btn-outline-dark btn-col">
			一時停止/再開
		</button>
		<button onclick="onReset()" class="btn btn-outline-dark btn-col">
			文章の初めに戻る
		</button>
	</div>

	<div id="slider-container" class="center-pad">
		<span id="read-speed"></span><br />
		<input
			type="range"
			value="250"
			min="1"
			max="500"
			step="1"
			oninput="onSliderInput(this.value)"
		/>
	</div>

	<div id="slider-container" class="center-pad">
		<span id="text-size"></span><br />

		<input
			type="range"
			id="text-slider"
			value="30"
			min="1"
			max="100"
			step="1"
			oninput="onTextSliderInput(this.value)"
		/>
	</div>
	<div style="margin-bottom: 20px"></div>
	<div class="container">
		<h4
			id="col-title"
			style="border-bottom: 1px solid #7f7975; padding-bottom: 10px"
		>
			カラーテーマをクリックして選択
		</h4>
		<section class="color-list">
			<div class="color-block" onclick="setColor('#ffffff', '#282828')">
				<div class="colors">
					<span class="color-box" data-hex="ffffff"></span>
					<span class="color-box" data-hex="282828"></span>
				</div>
				<h3>Default</h3>
				<ul>
					<li>背景色: #ffffff</li>
					<li>文字色: #282828</li>
				</ul>
			</div>
			<div class="color-block" onclick="setColor('#fdf6e4', '#4f6778')">
				<div class="colors">
					<span class="color-box" data-hex="fdf6e4"></span>
					<span class="color-box" data-hex="4f6778"></span>
				</div>
				<h3>Cream</h3>
				<ul>
					<li>背景色: #fdf6e4</li>
					<li>文字色: #4f6778</li>
				</ul>
			</div>
			<div class="color-block" onclick="setColor('#fdf0ec', '#db1442')">
				<div class="colors">
					<span class="color-box" data-hex="fdf0ec"></span>
					<span class="color-box" data-hex="db1442"></span>
				</div>
				<h3>Pink</h3>
				<ul>
					<li>背景色: #fdf0ec</li>
					<li>文字色: #db1442</li>
				</ul>
			</div>
			<div class="color-block" onclick="setColor('#f2f2f2', '#32559f')">
				<div class="colors">
					<span class="color-box" data-hex="f2f2f2"></span>
					<span class="color-box" data-hex="32559f"></span>
				</div>
				<h3>Blue</h3>
				<ul>
					<li>背景色: #f2f2f2</li>
					<li>文字色: #32559f</li>
				</ul>
			</div>

			<div class="color-block" onclick="setColor('#316745', '#ffffff');">
				<div class="colors">
					<span class="color-box" data-hex="316745"></span>
					<span class="color-box" data-hex="ffffff"></span>
				</div>
				<h3>Blackboard</h3>
				<ul>
					<li>背景色: #316745</li>
					<li>文字色: #ffffff</li>
				</ul>
			</div>
			<div class="color-block" onclick="setColor('#1a110d', '#ffffff')">
				<div class="colors">
					<span class="color-box" data-hex="1a110d"></span>
					<span class="color-box" data-hex="ffffff"></span>
				</div>
				<h3>Dark</h3>
				<ul>
					<li>背景色: #1a110d</li>
					<li>文字色: #ffffff</li>
				</ul>
			</div>
		</section>
	</div>
</div>
{% endblock %}
