<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>速読君</title>
    <script type="text/javascript" src="./js/pdf.js"></script>
    <script type="text/javascript" src="./js/pdf.worker.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
    <script type="text/javascript" src="./js/drop.js"></script>
    <style>
      #main-form {
        text-align: center;
      }
      textarea {
        width: 400px;
        height: 200px;
        margin-bottom: 20px;
      }
      #slider-container {
        text-align: center;
      }
      button {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body style="margin:0px;padding:0px;position:relative">
    <div id="drop-container">
      <div id="container" style="width:100%;height:200px;">
        <canvas id="canvas"></canvas>
      </div>
      <form id="main-form" action="" method="POST" autocomplete="off">
        読み上げる文章：<br/>
        <textarea id="main-text"></textarea><br/>
        <button type="submit">読み上げ開始</button>
      </form>
      <div id="slider-container">
        <span id="read-speed"></span><br/>
        <input type="range" value="250" min="1" max="500" step="1" oninput="onSliderInput(this.value)">
      </div>
    </div>
  </body>
</html>