{% extends "layout.html" %} {% block content %}

<!--ナビゲーションバー-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-monospace" style="pointer-events: none">Flash Reading</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}">説明 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('read')}}">Try！</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('list')}}">保存した文書</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="letter-spacing: 0.08em" 　>
  {% for doc in docList['docs'] %}
  <h3>{{doc.name}}</h3>
  <h3>{{doc.uuid}}</h3>
  <h3>{{doc.content}}</h3>
  <h3>{{doc.current_pos}}</h3>
  <h3>{{doc.created_at}}</h3>
  <a href="{{url_for('doc', uuid=doc.uuid)}}" class="btn btn-dark text-center">文書を読む</a>
  <button class="btn btn-dark text-center" onclick="onDelete('{{doc.uuid}}')">文書を削除</button>
  {% endfor %}
</div>
{% endblock %}