{% extends "layout.html" %} {% block content %}

<!--ナビゲーションバー-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<button
		class="navbar-toggler navbar-toggler-right"
		type="button"
		data-toggle="collapse"
		data-target="#navbarTogglerDemo02"
		aria-controls="navbarTogglerDemo02"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand text-monospace" style="pointer-events: none"
		>Flash Reading</a
	>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-md-0">
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('home')}}">説明 </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('read')}}">Try！</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{url_for('list')}}">保存した文書</a>
			</li>
		</ul>
	</div>
</nav>
<script>
	let docIndex = 0;

	const docsObj = {{ docsObj | tojson | safe }};
</script>
<div class="container" style="letter-spacing: 0.08em">
	<ul class="list-group" style="margin-top: 30px">
		{% for doc in docList %}
		<li class="list-group-item">
			<ul class="creup-day">
				<li id="created-at-{{doc.uuid}}"></li>
				<li id="updated-at-{{doc.uuid}}"></li>
			</ul>
			<h2 style="margin-top: 10px; clear: both" id="list-title">
				{{doc.name}}
			</h2>
			<h5
				id="content-{{doc.uuid}}"
				style="margin: 30px 10px 10px 10px; line-height: 1.4em"
			></h5>
			<!-- <h4>しおりの位置: {{doc.current_pos}}</h4> -->

			<br />
			<button
				onclick="location.href='{{url_for('doc', uuid=doc.uuid)}}'"
				class="btn btn-dark text-center"
			>
				文書を読む
			</button>
			<button
				onclick="onDelete('{{doc.uuid}}')"
				class="btn btn-dark text-center"
			>
				文書を削除
			</button>
		</li>
		<script>
			{
				const docObj = docsObj.docs[docIndex];

				const dispContent = summarize(docObj.content);
				const dispCreatedAt = formatDate(docObj.created_at);
				const dispUpdatedAt = formatDate(docObj.updated_at);

				document.getElementById(
					"content-" + docObj.uuid
				).innerText = dispContent;
				document.getElementById("created-at-" + docObj.uuid).innerText =
					"作成日時: " + dispCreatedAt;
				document.getElementById("updated-at-" + docObj.uuid).innerText =
					"更新日時: " + dispUpdatedAt;

				docIndex += 1;
			}
		</script>
		{% endfor %}
	</ul>
</div>
{% endblock %}
